.bodyAboutBigScreens {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
    grid-template-rows: 100px 80vw;
    height: 100%;
    color: #444;
    margin-top: 35px !important;
}
.mainLeftSide {
    border-right: 0.8px solid #808080;
}
.leftSide {
    border-right: 0.8px solid #808080;
    border-bottom: 0.8px solid #808080;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightSide {
    border-bottom: 0.8px solid #808080;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSideParagraphs {
    max-width: 420px;
}




.profileImage {
    border-radius: 50px;
    height: 150px;
    margin-left: 6vw;
    margin-top: 4vw;
}