body {
    font-family: 'Roboto Slab', serif;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(198, 253, 234), rgb(242, 194, 188));
    margin: 0 0;
  }
  p {
      font-family: 'Archer SSm B';
      font-size: 15px;
      line-height: 20px;
      font-weight: lighter;
      font-size: 14px;
      letter-spacing: 0.04em;
  }
  li {
    font-family: 'raleway'
  }
//   Cool Fonts to check out
// 'Major Mono Display',