body {
    font-family: 'Roboto Slab', serif;
    width: 100vw;
    // background-image: linear-gradient(to right, rgb(198, 253, 234), rgb(242, 194, 188));
    margin: 0 0;
  }
  p {
    font-family: 'Forum', cursive bold;
      line-height: 20px;
      font-weight: lighter;
      letter-spacing: 0.04em;
  }
  li {
    font-family: 'raleway'
  }
//   Cool Fonts to check out
// 'Major Mono Display',


