$font: #121212;
$logoFont: #121212;
$backgroundMenu: #BED3FA;

// @import url("https://use.typekit.net/mfo7xer.css");
// Fin gul: FFE873
// Sexy lilla: 8C1BA3 DB324D

$breakpoint-tablet: 1199px;
$breakpoint-bigscreen: 4000px;
$breakpoint-mobile: 850px;

// Big screens
@media (min-width: 1200px) and (max-width: $breakpoint-bigscreen) {
.MobileContainer {
    display: none; 
}
.HeaderContainer {
    display: grid;
    grid-template-columns: 0.8fr repeat(2, 1.2fr) 2fr repeat(2, 1fr) 0.8fr;
    grid-template-rows: 1fr 2fr 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 350px;
    z-index: 3;
    // background: linear-gradient(40deg, rgba(18,18,18,1) 33%, #280773 75%, rgba(255,255,255,1) 100%);
    background-color: $backgroundMenu;
    color: whitesmoke;
    border-bottom: 15px solid #0A0C66;
}
.H1Container {
    text-transform: uppercase;
	// background: linear-gradient(to right, #fd1d1d 0%, #FFE873 24%, #FFE873 74%, #BF3E77 100%);
	// -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: $logoFont;
    cursor: pointer;
    font-size: 52px;
}

.Anmeldelser {
    color: $font;
    font-family: '"Archer SSm A",';
    font-size: 21.5px !important;
    font-weight: bolder;
    cursor: pointer;
    // float: right;
}
.Anmeldelser:hover {
    border-bottom: 1px solid $font;
    // width: 55%;
}
.logo {
    display: flex;
    justify-content: center;
    font-family: 'Major Mono Display';
}

.MenuItemContainer {
    display: flex;
    color: $font;
    font-family: '"Archer SSm A",';
    font-size: 21.5px !important;
    cursor: pointer;
    float: right;
    margin-top: 4.2vw;
}
.MenuItemContainer:hover {
    border-bottom: 1px solid $font;
}
.ReiseContainer {
    color: $font;
    cursor: pointer;
    font-family: '"Archer SSm A",';
    font-size: 21.5px !important;
    // margin-top: 4.2vw;
}
.ReiseContainer:hover {
    border-bottom: 1px solid $font;
    // width: 22%;
}
.drinker {
    color: $font;
    cursor: pointer;
    font-family: '"Archer SSm A",';
    font-size: 21.5px !important;
    margin-top: 4.2vw;
}
.drinker:hover {
    border-bottom: 1px solid $font;
    // width: 40%;
}
// // Dropdown

.dropdown {
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-family: 'Roboto Slab';
  }
  .dropDownItems {
    cursor: pointer;
  }
  .dropdown:hover .dropdownContent {
    display: block;
    margin-top: 7vw;
    margin-left: 2vw;
  }
// ----------------------------------
}

// Tablets
@media (min-width: 800px) and (max-width: $breakpoint-tablet) {
    .MobileContainer {
        display: none; 
    }
    .HeaderContainer {
        display: grid;
        grid-template-columns: 0.2fr repeat(2, 1.4fr) 2fr repeat(2, 1.4fr) 0.2fr;
        grid-template-rows: 1fr 2fr 0.3fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 350px;
        z-index: 3;
        // background: linear-gradient(40deg, rgba(18,18,18,1) 33%, #280773 75%, rgba(255,255,255,1) 100%);
        background-color: $backgroundMenu;
        color: whitesmoke;
        border-bottom: 15px solid #0A0C66;
    }
    .H1Container {
        text-transform: uppercase;
        // background: linear-gradient(to right, #fd1d1d 0%, #FFE873 24%, #FFE873 74%, #BF3E77 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: $logoFont; 
        cursor: pointer;
        font-size: 52px;
    }
    
    .Anmeldelser {
        color: $font;
        font-family: 'hobo-std, sans-serif, Archer SSm A';
        font-size: 18px !important;
        font-weight: bolder;
        cursor: pointer;
        // float: right;
    }
    .Anmeldelser:hover {
        border-bottom: 1px solid $font;
        width: 55%;
    }
    .logo {
        display: flex;
        justify-content: flex-start;
        font-family: 'Major Mono Display';
        margin-left: -2vw;
    }
    
    .MenuItemContainer {
        display: flex;
        align-items: flex-end;
        color: $font;
        font-family: '"Archer SSm A",';
        font-size: 18px !important;
        cursor: pointer;
        float: right;
        margin-top: 0.1vw;
    }
    .MenuItemContainer:hover {
        border-bottom: 1px solid $font;
    }
    .ReiseContainer {
        color: $font;
        cursor: pointer;
        font-family: '"Archer SSm A",';
        font-size: 18px !important;
        margin-top: 0.1vw;
    }
    .ReiseContainer:hover {
        border-bottom: 1px solid $font;
        width: 22%;
    }
    .drinker {
        color: $font;
        cursor: pointer;
        font-family: '"Archer SSm A",';
        font-size: 18px !important;
        margin-top: 8vw;
    }
    // .drinker:hover {
    //     border-bottom: 1px solid $font;
    //     width: 80%;
    // }
    // // Dropdown
    
    .dropdown {
        display: inline-block;
        display: flex;
        align-items: flex-end;
        margin-left: 5vw;
    }
    .dropdownContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        font-family: 'Roboto Slab';
      }
      .dropDownItems {
        cursor: pointer;
      }
      .dropdown:hover .dropdownContent {
        display: block;
        margin-top: 24vw;
        margin-left: 2vw;
      }
    // ----------------------------------
}


// Mobile
@media (min-width: 200px) and (max-width: $breakpoint-mobile) {
    .HeaderContainer {
        display: none; 
    }
    .MobileContainer {
        display: grid;
        grid-template-columns: 0.1fr 1.5fr 0.1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: $backgroundMenu;
        width: auto;
    }
    .Anmeldelser {
        font-size: 14px;
    }
    .Oppskrifter {
        font-size: 14px;
    }
    .drinker {
        font-size: 14px;
    }
    .ReiseContainer {
        font-size: 14px;
    }
}