.H1Container {
    color: white;
    cursor: pointer;
}

.HeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Major Mono Display';
    height: 350px;
    width: 100vw;
}

.MenuItemContainer {
    display: flex;
    width: 200px;
    height: 100px;
    color: white;
    font-family: 'Roboto Slab';
    margin-top: 20%;
}

.SignaturRetter {
    display: flex;
    width: 200px;
    height: 100px;
    color: white;
    font-family: 'Roboto Slab';
    margin-top: 20%;
    margin-left: 4.5%;
}