.H1Container {
    color: black;
    cursor: pointer;
    font-size: 42px;
}

.HeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(198, 253, 234), rgb(242, 194, 188));
    color: black;
    font-family: 'Major Mono Display';
    height: 350px;
    width: 100vw;
}

.MenuItemContainer {
    display: flex;
    width: 200px;
    height: 100px;
    color: black;
    font-family: '"Archer SSm A",';
    margin-top: 20%;
    cursor: pointer;
}
.Anmeldelser {
    display: flex;
    width: 150px;
    height: 100px;
    color: black;
    font-family: '"Archer SSm A",';
    margin-top: 20.2%;
    cursor: pointer;
}
.ReiseContainer {
    display: flex;
    width: 20px;
    height: 100px;
    color: black;
    font-family: '"Archer SSm A",';
    margin-top: 20%;
    cursor: pointer;
}
.SignaturRetter {
    display: flex;
    width: 150px;
    height: 100px;
    color: black;
    font-family: '"Archer SSm A",';
    margin-top: 20%;
    margin-left: 4.5%;
}
// Dropdown

.dropdown {
    margin-top: 18%;
    display: inline-block;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-family: 'Roboto Slab';
  }
  .dropDownItems {
    cursor: pointer;
  }
  .dropdown:hover .dropdownContent {
    display: block;
    margin-top: -4.7%;
  }
// ----------------------------------
